aiohttp==3.8.5
aiomysql==0.2.0
APScheduler==3.10.4
asyncpg==0.30.0
celery==5.4.0
httpx==0.28.1
matplotlib==3.8.0
nest_asyncio==1.5.6
numpy==1.24.4
openai==1.65.2
pandas==2.0.3
PyMySQL==1.1.1
pytest==8.3.3
python-dotenv==1.0.1
aiolimiter==1.1.0
python-telegram-bot[rate-limiter]==21.11.1
python_bcrypt==0.3.2
scipy==1.15.2
seaborn==0.13.2
sentry_sdk==2.18.0
torch==2.0.0
transformers==4.46.3
cryptography==43.0.0